{% extends "bootstrap/base.html" %}
{% block title %}三大人{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style2.css">

{% endblock styles %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">首页</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('mask') }}">查成绩</a></li>
                <li><a href="{{ url_for('course') }}">学业预警 </a></li>
                <li><a href="{{ url_for('studyCompare') }}">学业对比 </a></li>
                <li><a href="http://bbs.ctgu.ren">论坛 </a></li>
                <li><a href="{{ url_for('about') }}">关于</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container">
    {% block page_content %}{% endblock %}
    <div class="share">
        <h3 class="btn btn-success">非常好用？分享至qq空间，与同学一较高下:</h3>
        <br>
        <br>
        <script type="text/javascript">
            (function(){
            var p = {
            url:location.href,
            showcount:'1',
            desc:'我的成绩超越了百分之88的三大人，来这里查一下',
            summary:'我的成绩超越了百分之88的三大人，来这里查一下',
            title:'三大人',
            site:'http://ctgu.ren',
            pics:'',
            style:'201',
            width:113,
            height:39
            };
            var s = [];
            for(var i in p){
                s.push(i + '=' + encodeURIComponent(p[i]||''));
            }
            document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
            })();

        </script>

    <script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>

    </div>
</div>

<div style="display: none">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256620769'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256620769' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

{% endblock %}
