{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>欢迎来到</h1>
</div>
    <div class="content">
        <h3>在这里你可以：</h3>
        <h3 class="btn btn-default"><a href="{{ url_for('mask') }}">查成绩</a></h3>
        <h3 class="btn btn-default"><a href="{{ url_for('course') }}">查学分</a></h3>
        <h3 class="btn btn-default"><a href="{{ url_for('studyCompare') }}">查学业对比</a></h3>
        <h3 class="btn btn-default"><a href="{{ url_for('about') }}">关于</a></h3>
    </div>
{% endblock %}


